body{

}

#start, #sword, #player2{
    width: 45%;
    height: 80px;
    font-size: 35px;
}

#Player1usedSword, #Player1card, #Player2card{
    width: 100%;
}

#playerone, #playertwo, #playerthree {
    width: 45%;
    margin: 1%, 1%, 1%, 1% !important;
}

label{
    
}

#sword, #player2{
    display: none;
}

.row {
    display: table;
    border-spacing: 10px;
}

.column{
    display: table-cell;
}

#textPlayer1, #textSword1, #textPlayer2{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

