body{

}

#start, #sword, #player2, #stats1, #stats2{
    width: 47%;
    height: 130px;
    font-size: 45px;
    margin-left: 1%;
    margin-right: 1%;
}

#start, #stats1, #stats2 {
    background-color: lightblue;
    width: 98%;
}

#sword{
    background-color: lightgray;
}

#player2{
    background-color: lightblue;
}

#Player1usedSword, #Player1card, #Player2card{
    width: 100%;
}

#playerone, #playertwo, #playerthree {
    display: block;
    width: 98%;
    margin: auto !important;
}

#sword, #player2{
    display: none;
}

.row {
    display: table;
    border-spacing: 10px;
}

.column{
    display: table-cell;
}

#textPlayer1, #textSword1, #textPlayer2 {
    display: block;
    text-align: center;
    font-size: 30px !important;
    background-color: lightgray;
}

#stats, #stats2{
    display: none;
}